<div
  class="bg-bluegray-100 mt-6 text-black-100 p-3   border-round-sm"
>
<div class="card">
  <div class="card-container  overflow-hidden">
      <div class="flex">
          <div class="flex-1 flex align-items-center justify-content-center  m-2 px-5 py-3 border-round">
            <a href="">
              <i class="pi pi-github" style="font-size: 3rem"></i>
            </a>
          </div>
          <div class="flex-none flex align-items-center justify-content-center  m-2 px-5 py-3 border-round">
            <a href="https://www.linkedin.com/in/sergenbakir/" target="_blank">
              <i class="pi pi-linkedin" style="font-size: 3rem"></i>
            </a>
          </div>
          <div class="flex-1 flex align-items-center justify-content-center  m-2 px-5 py-3 border-round">
            <a href="https://twitter.com/sergencu" target="_blank">
              <i class="pi pi-twitter" style="font-size: 3rem"></i>
            </a>

          </div>
      </div>
  </div>
</div>
</div>
